@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Quicksand:wght@300&family=Raleway:wght@400;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}
header {
  background-image: url('img/bfpcover.png');
  height: 100vh;
  background-size: cover;
}

#main {
  background: transparent;
  width: 100%;
  height: 50px;
  

}

#main .logo {
  float: left;
}

.logo {
  background: url('img/bfplogo.png');
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  margin-left: 75px;
  margin-top: 45px;
}

#main .logo1 {
  float: left;
}

.logo1 {
  background: url('img/logo.jpg');
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  margin-left: 165px;
  margin-top:3px;
}

#main nav ul {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

#main nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
  line-height: 50px;
}

#main nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 6px 13px;
  transition: 0.4s all ease out;
  font-family: 'Quicksand', sans-serif;
}

#main nav ul li a.active,
#main nav ul li a:hover {
  background: transparent;
  color: #fff;
  transition: 0.4s all ease-out;
}

.text {
  color: whitesmoke;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 54%;
  left: 35%;
}

.text h1{
  color:#CC6600;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}
.text h2{
   color:#CC6600;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

.text span {
  width: 6px;
  border-radius: 20px;
  height: 222px;
  background: #CC6600;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 39%;
  left: -2%;
}

.text p {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 2px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.text .btn {
  width: 150px;
  height: 35px;
  border: none;
  background: #CC6600;
  color: #fff;
  transition: 0.5s all ease-out;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}

.text .btn:hover {
  background: transparent;
  border: 1px solid #CC6600;
  transition: 0.5s all ease-out;
}
.dropbtn {
   width: 130px;
  height: 30px;
  border: none;
  background: #CC6600;
  color: #fff;
  transition: 0.5s all ease-out;
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
}

.dropbtn:hover, .dropbtn:focus {
  background: transparent;
  border: 1px solid #CC6600;
  transition: 0.5s all ease-out;
}

.dropdown {
  position: relative;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 130px;
  overflow: auto;
  border: 1px solid #E2F516;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
   font-family: 'Quicksand', sans-serif;
   font-size: 14px;
}

.dropdown a:hover {background-color: #12AD2B;}

.show {display: block;}

.footer {
  float: right;
  padding-top: 650px;
  padding-left: 100px;

}

.footer ul {
  float: right;
  margin-left: -50px;
  margin-top: 20px;
}

.footer ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 8px;
  line-height: 50px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 2px 13px;
  transition: 0.4s all ease out;
  font-family: 'Quicksand', sans-serif;
}

.footer ul li a.active,
.footer ul li a:hover {
  background: transparent;
  color: #fff;
  transition: 0.4s all ease-out;
}


