@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@100;200&family=Quicksand:wght@300&family=Raleway:wght@400;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(img/bfpcover.png);
  background-size: cover;
  background-position: center;
}


.wrapper {
  position: relative;
  width: 390px;
  height: 390px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .0);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  
  
}


.wrapper .form-box {
  width: 100%;
  padding: 40px;

}



.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 35px;
  color:  #CC6600;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #CC6600;
  margin: 20px 0;

}

.input-box label {
  
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: white;
  pointer-events: none;
  transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
  
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  content: " ";
  color:WHITE;
  font-weight: 400;
  padding: 0 35px 0 5px;
  font-family: 'Raleway', sans-serif;

}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #CC6600;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: white;
  font-weight: 500;
  margin: -20px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #CC6600;
  margin-right: 3px;
}
.remember-forgot a {
  color: #CC6600;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: #CC6600;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 19px;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}
.btn:hover {
  background: transparent;
  border: 1px solid #CC6600;
}

.registration {
  font-size: .9em;
  color: white;
  font-weight: 500;
  margin: 10px 0 15px;
  display: flex;
  justify-content: space-between;
}

.registration label {
  accent-color: #CC6600;
  margin-right: 3px;
}
.registration a {
  color: #CC6600;
  font-size: 18px;
  margin-top: -5px;
  font-weight: 500;
  text-decoration: none;
}

.registration a:hover {
  text-decoration: underline;
}





